{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- bookings.html content starts here -->

<section>
    <h1>Your Bookings</h1>

    {% if user.is_authenticated %}

    <div class="bookings">
        <p>Welcome {{user.user_name}}</p>
        <a href="{% url 'create_booking' %}">
            Create new booking
        </a>
        {% for booking in object_list %}
        <div class="booking">
            <p>Start Time: {{booking.start_time}}</p>
            <p>Number seats: {{booking.num_seats}}</p>
            <a href="{% url 'manage_booking' booking.id %}">Manage Booking</a>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>Please 
        <a class="link" href="{% url 'account' %}">sign in on our account page</a>
    to view or create a booking</p>
    {% endif %}
</section>

    
{% endblock %}