{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- menu.html content starts here -->
<section class="container-fluid">
    
    <div class="row">
        <div class="col-md-4 bg-color-contact-details section-column">   
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase"> 
                        Contact Us 
                    </h3>
                </div>
            </div>
            <div class="contact-detail-item">
                <div class="key">
                    <p class="uppercase">
                        Phone:
                    </p>
                </div>
                <div class="value">
                    <p>
                        02070001234
                    </p>
                </div> 
            </div>
            <div class="contact-detail-item">
                <div class="key">
                    <p class="uppercase">
                        Mobile:
                    </p>
                </div>
                <div class="value">
                    <p>
                        07777123123
                    </p>
                </div> 
            </div>

            <div class="contact-detail-item">
                <div class="key">
                    <p class="uppercase">
                        Email:
                    </p>
                </div>
                <div class="value">
                    <p>
                        info@coderscafe.com
                    </p>
                </div> 
            </div>
        </div> 
    </div>
    <a href="../css/menu/menu.pdf" target="_blank" class="menu-pdf">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span class="sr-only"> Download menu </span>
    </a>
        <div class="col-md-8 bg-color-why-visit section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase"> Why visit us? </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class=" why-visit-icon fa-solid fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="why-visit-heading uppercase"> Our resources </h5>
                            <p>
                                We keep up to date with the latest tech releases to ensure our customers have access to 
                                the most up-and-coming hardware and software in the market. We also possess an array of books, articles, 
                                and our e-Library that is available to all of our customers,
                                meaning if you're struggling with your code, we will help you find the solution.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class=" why-visit-icon fa-solid fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="why-visit-heading uppercase"> Our workspace </h5>
                            <p>
                                We have built a state-of-the-art workspace specifically designed for the coders of the future,
                                creating dedicated areas for teams to work collaboratively, but also quiet areas for individual developers to work.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class=" why-visit-icon fa-solid fa-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h5 class="why-visit-heading uppercase"> Our delicious menu </h5>
                            <p>
                                In addition to our amazing workspace, we offer customers the opportunity to purchase a range of freshly made 
                                hot and cold beverages from our menu (and yes we offer free refills) we also have an in-house baker
                                that bakes fresh cakes and biscuits daily, and breads for our delicious sandwiches.
                            </p>
                        </div>
                    </div>
                </div>

                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class=" why-visit-icon fa-solid fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="why-visit-heading uppercase"> Our friendly team and customers </h5>
                                <p>
                                    We are passionate about technology and the endless possibilities that coding provides, that's why our staff are
                                    all from a tech background and are fluent in a variety of coding languages, meaning they can both serve you coffee, 
                                    and help you troubleshoot any projects.Our customers are all like-minded developers across an array of capabilities,
                                        meaning all are welcome whether you're a beginner or a pro.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

</section>

  
{% endblock %}