/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Colours */
.bg-color-name-title {
    background-color: #5c8f6b;
}
.ui-menu-color-home {
    background-color: #8a9eb8;
}
.ui-menu-color-menu {
    background-color: #8ab897;
}
.ui-menu-color-bookings {
    background-color: #8ab897;
}
.ui-menu-color-cancel {
    background-color: #8a9eb8;
}
/* Heading Styles */
header {
    margin: 0;
}

.heading {
    margin-left: 70px;
}

.logo {
    background: url("../images/logo-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav { 
    margin:0;
}
#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 80px;
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #242121;
}

.menuitem a i {
    padding-top: 24px;
    display: block;
    color: #242121;
    font-size: 20px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: "Exo" , sans-serif;
    font-weight: 400;
    font-size: 14px; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Hover.css */ 
.hvr-sweep-to-bottom:before {
    background-color: #00000052;
    height: 80px;
}

.social-networks {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 100%;
}

.social-networks i {
    color: #000000;
    font-size: 200%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0% ;
    text-decoration: none;
    }

#social-networks a {
    text-decoration: none;
}