/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Colours */
.bg-color-name-title {
    background-color: #546b5b;
}
.ui-menu-color-home {
    background-color: #546b5b;
}
.ui-menu-color-menu {
    background-color: #546b5b;
}
.ui-menu-color-bookings {
    background-color: #546b5b;
}
.ui-menu-color-cancel {
    background-color: #546b5b;
}
/* Heading Styles */
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/logo-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.social-networks {
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    width: 100%;
}

.social-networks i {
    color: #3b202edb;
    font-size: 200%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
    text-decoration: none;
    }

#social-networks a {
    text-decoration: none;
}